@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html
{
    font-family: "Share Tech Mono";
    background: var(--cogi-uikit-background);
}

:root
{
    --cogi-uikit-background: #f7f7ff;

    --cogi-uikit-color-dark:  #262626;
    --cogi-uikit-color-red: #D72638dd;
    --cogi-uikit-color-blue: #028090;
    --cogi-uikit-color-green: #80AB82;
    --cogi-uikit-color-orange: #FF570A;
    --cogi-uikit-color-yellow: #FFD449;
    --cogi-uikit-color-purple: #9B97B2;

    --cogi-uikit-control-focus: var(--cogi-uikit-color-orange);
    --cogi-uikit-control-default: var(--cogi-uikit-color-dark);
    --cogi-uikit-control-action: var(--cogi-uikit-color-yellow);
    --cogi-uikit-control-active: var(--cogi-uikit-color-blue);
}